*.o
output/
velplot/
*.a
dgswe
dgswe_mpi
dgswe_omp
dgprep
dgpost
dgswem_structure
dgswem_structure_mpi
dgswem_structure_omp
convert
*~
*.mod
PE*
*.log
*.o*
*.dump
*.kate-swp
*.d
*.xml
*.save
.descrip
fort.*
*.hb
*.grd
*.bfr
*.nc
*.cb
*.sta
*.sol
*.ps
*.pdf
*.png
*.jpg
*.tif
*.aux
*.dvi
*.tex
*.mp4
*.label
bathy_interp/work/bathy
spline/work/spline
rimle/work/rimls
plot/work/plot
plot/cmr10
util/bou2sta
util/convert_bou
util/copy_nodes
util/consolidate
util/*.txt
